{% extends 'layouts/base.html.twig' %}

{% block layout %}anonymous{% endblock %}

{% block body %}
    <div class="container container-anonymous">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
