{% extends 'layouts/base.html.twig' %}

{% block body %}
    {{ include("components/header.html.twig") }}
    <main class="{{ containerClass|default('container') }}">
        {% block content %}{% endblock %}
    </main>
    {{ include("components/footer.html.twig") }}
{% endblock %}
