<div class="card">
    <div class="card-header" id="header-clients">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-clients" aria-expanded="false" aria-controls="collapse-clients">
                Liste des clients ({{ field.value|length }})
            </button>
        </h2>
    </div>
    <div id="collapse-clients" class="collapse" aria-labelledby="header-clients">
        <ul class="list-group list-group-flush">
            {% for client in field.value %}
                {% set url = ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ClientCrudController').setAction('detail').setEntityId(client.id) %}
                <li class="list-group-item">
                    <a href="{{ url }}">
                        {{ client.name }}
                    </a>
                </li>
            {% else %}
            <li class="list-group-item">
                Aucun client
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
