.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;

  &-sm {
    width: .875rem;
    height: .875rem;
  }

  &-md {
    width: 1rem;
    height: 1rem;
  }

  &-lg {
    width: 1.125rem;
    height: 1.125rem;
  }

  &-key {
    background-image: url(../../images/cles_rouge.svg);
  }

  &-logout {
    background-image: url(../../images/deconnexion_rouge.svg);
  }
}