body.anonymous {
  color: $white;

  a {
    text-decoration: none;
    color: $danger;
    font-weight: 500;
  }

  > .container-anonymous {
    width: 100%;
    max-width: 700px;
    box-shadow: 3px 3px 12px #00000029;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    margin-top: 4rem;
    padding: 2rem 8rem;
    position: relative;

    &:after {
      content: "";
      background-image: url("../../images/Kassius_Key_AA_no_ombre.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: -50px;
      left: -200px;
      height: 490px;
      width: 348px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @include media-breakpoint-down(md) {
      backdrop-filter: unset;
      -webkit-backdrop-filter: unset;
      box-shadow: unset;
      margin-top: 1rem;
      padding: 1rem 2rem;
    }
  }
}