body.page {
  > nav {
    @include media-breakpoint-down(lg) {
      margin-top: calc(81.5px + 1rem);
    }
  }

  > main {
    min-height: calc(100vh - 259px - 2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(lg) {
      min-height: calc(100vh - 200.1px);
    }
  }
}
