$danger: #e0001a;
$success: #5cb85c;
$primary: #337ab7;
$dark-danger: #8a1002;
$font-size-base: 0.875rem;
$enable-shadows: false;
$input-padding-y: 0.825rem;
$input-box-shadow: none;
$input-border-radius: 0;
$input-focus-width: 0;
$input-focus-border-color: none;
$input-focus-box-shadow: none;
$font-family-base: 'Roboto', sans-serif;
$h1-font-size: 1.5rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1.2rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1rem;
$font-weight-bold: 500;
$font-weight-bolder: 700;
$enable-rounded: false;
$btn-padding-y: 0.625rem;
$btn-font-weight: $font-weight-bold;
$form-label-font-size: 1rem;
$form-label-font-weight: $font-weight-bold;
