$danger: #E0001A;
$success: #5cb85c;
$primary: #337ab7;
$font-size-base: .875rem;
$enable-shadows: false;
$input-box-shadow: none;
$input-border-radius: 0;
$input-focus-width: 0;
$input-focus-border-color: none;
$input-focus-box-shadow: none;
$font-family-base: 'Roboto', sans-serif;