.carousel {
  .carousel-inner {
    .carousel-item {
      > img {
        width: 100%;
      }
    }
  }

  .carousel-indicators {
    > * {
      border-radius: 50%;
      height: .5rem;
      width: .5rem;
    }
  }
}
