.input-group-password {
  input[type=password] + button > span.far:before {
    content: "\f06e";
  }
  input[type=text] + button > span.far:before {
    content: "\f070";
  }
  button {
    border: 1px solid $input-border-color;

    &:hover, &:active, &:focus {
      border: 1px solid $input-border-color;
    }
  }
}