header {
  > div:first-child {
    height: calc(40px + 2rem);
    padding: 1rem .75rem;
    align-items: flex-start;
  }

  > nav.navbar {
    > .container {
      padding-left: 303px;
    }
  }


  @include media-breakpoint-down(lg) {
    z-index: 1000;


    .navbar {
      background: $white;
      .navbar-brand {
        height: 50px;
      }

      height: auto;

      .navbar-collapse {
        margin-top: 1rem;
        padding-top: .5rem;
        border-top: 1px solid #dee2e6 !important;
        .nav-item {
          border-right: 0 !important;
        }
      }
    }
  }
}
