header {
  @include media-breakpoint-down(lg) {
    z-index: 1000;


    .navbar {
      background: $white;
      .navbar-brand {
        height: 50px;
      }

      height: auto;

      .navbar-collapse {
        margin-top: 1rem;
        padding-top: .5rem;
        border-top: 1px solid #dee2e6 !important;
        .nav-item {
          border-right: 0 !important;
        }
      }
    }
  }
}
