{% extends 'layouts/email.html.twig' %}

{% block body %}
    <a href="{{ absolute_url(path("security_reset_password", {forgottenPasswordToken: user.forgottenPasswordToken})) }}">Clique ici</a>
{% endblock %}
