{% extends "layouts/default.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <section class="section">
                <h1 class="section-header">Ceci est un titre</h1>
                <div class="section-body">test</div>
            </section>
        </div>
    </div>
{% endblock %}
