<footer>
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <img src="{{ asset("build/images/logo_footer.png") }}" alt="Key Privilege" class="mb-3">
            <nav>
                <ul>
                    <li><a href="#">FAQ & Réglement</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>Programme Key Privilege - Alternative Autoparts</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>